#topnav{
    display: flex;
    text-align: center;
    gap: 5%;
    padding: 14px 16px;
    font-size: 17px;
}
#Allplants{
    display: flex;
    gap: 2%; 
}
#container1{
   background-image: url(Images/plant.jpeg); 
   background-position: initial;
   background-repeat: no-repeat;
   padding: 20%;
   background-size: auto;
}

images{
    width: 50px;
    height: 50px;
}
#plants3{
    display: flex;
}
#navbar{
    background-color: green;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10%;
}
@media screen and(max-width:1200px)and (min-){
#navbar{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}
#topnav{
  display: flex; 
  gap: 5%; 
  flex-wrap: wrap;
}
}
@media screen and(max-width:400px) and (min-width:0px){
#navbar{
    display:flex;
    gap: 5%;
    flex-wrap: wrap;  
}
#topnav{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}
}